.welcome {
  position: absolute;
  left: 450px;
  font-size: 30px;
}
.stats {
  position: relative;
  top: 50px;
  right: 50px;
}

.header {
  position: absolute;
}
.dashboard {
  align-items: center;
  position: fixed;
  width: 1200px;
  height: 1200px;
  background-image: url(../pictures/library.png);
  background-repeat: no-repeat;
}
.welcome {
  text-align: center;
  font-family: ravie;
  color: white;
}

.stats {
  text-align: center;
  color: white;
}
.gameboard {
  text-align: center;
  color: white;
}
.butOne {
  text-align: center;
  width: 50px;
  background-color: yellow;
  font-family: ravie;
  font-size: 11.5px;
}
.settings {
  text-align: center;
  width: 100px;
  background-color: green;
  font-family: ravie;
  font-size: 11.5px;
  color: white;
}
.butTwo {
  text-align: center;
  width: 50px;
  background-color: yellow;
  font-family: ravie;
  font-size: 11.5px;
}
#changeWordButton {
  text-align: center;
  position: fixed;
  left: 1020px;
  top: 345px;
  width: 110px;
  height: 45px;
  background-color: yellow;
  font-family: ravie;
  font-size: 11.5px;
}
#submitButton {
  text-align: center;
  position: fixed;
  top: 745px;
  left: 46px;
  bottom: 500px;
  width: 110px;
  height: 45px;
  background-color: yellow;
  font-family: ravie;
  font-size: 11.5px;
}
#score {
  color: white;
  height: 50px;
  width: 50px;
  position: fixed;
  left: 610px;
}
#audioButton {
  text-align: center;
  position: fixed;
  left: 1019px;
  top: 745px;
  width: 110px;
  height: 45px;
  background-color: yellow;
  font-family: ravie;
  font-size: 11.5px;
}
#changeTopicButton {
  text-align: center;
  width: 110px;
  height: 45px;
  position: fixed;
  left: 48px;
  top: 345px;
  background-color: yellow;
  font-family: ravie;
  font-size: 11.5px;
}
.subject {
  text-align: center;
  position: fixed;
  top: 200px;
  left: 353.48px;
  width: 395px;
  height: 60px;
  background-color: green;
  font-family: ravie;
  font-size: 11.5px;
  color: white;
}
#subjectDisplay {
  font-size: 50px;
  text-transform: capitalize;
}
.ma {
  text-align: center;
  color: red;
  padding: 95px 11px 3px 10px;
  margin-left: -527px;
  margin-top: -540px;
  background-color: yellow;
  font-family: ravie;
  font-size: 11.5px;
}
.hint {
  width: 105px;
  height: 100px;
  margin-left: 40px;
  margin-top: -545px;
  background-color: transparent;
  background-image: url(../pictures/wise.png);
  background-repeat: no-repeat;
}
.ma1 {
  color: red;
  padding: 95px 11px 3px 10px;
  margin-left: 447px;
  margin-top: -540px;
  background-color: yellow;
  font-family: ravie;
  font-size: 11.5px;
}
.display {
  padding: 11px 20px 11px 20px;
  width: 180px;
  height: 25px;
  margin-left: 465px;
  margin-top: -710px;
  background-color: green;
  font-family: ravie;
  font-size: 11.5px;
  color: white;
}
.clock1 {
  width: 90px;
  height: 43px;
  margin-left: 351px;
  margin-top: -700px;
  background-color: rgb(22, 19, 19);
  font-size: 30.5px;
  color: white;
}
.clock2 {
  width: 90px;
  height: 43px;
  margin-left: 711px;
  margin-top: -700px;
  background-color: rgb(22, 19, 19);
  font-size: 30.5px;
  color: white;
}
.Gameboard {
  position: fixed;
  left: 400px;
  top: 520px;
  width: 380px;
  height: 202px;
  color: white;
  font-size: 40px;
  background-color: black;
  border-color: black;
  outline: none;
  text-align: center;
  caret-color: black;
}

#posDisplay {
  position: fixed;
  height: 60px;
  width: 315px;
  border: 2px solid black;
  left: 10px;
  top: 70px;
}

#wordDisplay {
  position: fixed;
  border: 2px solid black;
  height: 60px;
  width: 315px;
  top: 200px;
  left: 10px;
}

#definitionDisplay {
  position: fixed;
  top: 880px;
}

#score {
  position: fixed;
  top: 200px;
  left: 20px;
}

#revealButton {
  position: fixed;
  left: 560px;
  top: 430px;
  height: 50px;
  width: 50px;
}

#score {
  top: 145px;
  color: white;
  height: 50px;
  width: 50px;
  position: fixed;
  left: 610px;
}
