/* .Logo-body{
    padding: 100px;
    /* background-image: url(./background.png); 
} */

/* .diamond{
    display: flex;
    margin: auto;
    width: 110px;
    height: 110px;
    border: 3px solid black;
    transform: rotate(45deg);
    background-color: rgb(218, 212, 212);
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
} */
/* .outerdiamond{ */
/* display: flex; */
/* margin: auto;
    border: 3px solid black;
    transform: rotate(45deg);
    background-color: rgb(218, 212, 212);
    justify-content: center;
    align-items: center; */
/* position: absolute;
    margin-left: 413px;
    margin-top: 12px;
    width: 125px;
    height: 125px;
      transform: rotate(45deg);
    background-color: rgb(218, 212, 212); 
     justify-content: center;
    align-items: center;
} */
/* .logoText{
    
    font-family: directive four condensed;
    font-size: 75px;
    transform: rotate(-45deg);
    text-align: center
} */
/* .rectangle{
    position: absolute;
    margin-left: 380px;
    margin-top: -130px;
    width: 190px;
    height: 35px;
    background-color: red;
    border: 2px solid rgb(218, 212, 212); 
    border-radius: 5px;
    font-size: 25px;
    font-family: ar delaney;
    color: rgb(202, 199, 11);
    text-align: center;
} */
/* .arrow{
    
position: absolute;
    margin-left: 450px;
    margin-top: -45px;
    width: 60px;
    height: 6px;
    background-color: red;
} */
/* .arrowHead{
  
    position:absolute;
    margin-left: 440px;
    margin-top: -50px;
    width: 0px;
    height: 0px;
    border-right: 15px solid red;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
} */
/* .Logo-body{
margin-top:100px ;
}
.img{
    margin:auto; 
    width: 150px;
    height: 150px;
} */

.home-body {
  padding: 100px;
  background-image: url(../pictures/background.png);
  height: 250vh;
  background-repeat: no-repeat;
}

/* .nav {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-start;
  /* position: absolute;
    top:0px; */

