.Login-body {
    font-family: "Roboto Condensed", cursive;
    background: #333;
    padding: 20px;
}
.form{
    position: relative;
    background-color: green;
    width: 500px;
    color: yellow;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 00px;
    border: 5px solid yellow;
    border-radius: 20px;
    text-align: left;
    padding-left: 20px;
    
}
.owl{
    position: absolute;
    margin-left: 570px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
    background-image: url(./signin.png);
}
.signinText{
    color: red;
    font-family: showcard gothic;
    font-size: 20px;
}
