.signupLink {
  position:relative;
  top:10px;
  left:620px;
  background: green;
  color: yellow;
  padding: 3px 8px;
  font-size: 25px;
  font-family: showcard gothic;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.loginLink {
  position:relative;
  top:10px;
  left:600px;
  background: green;
  color: yellow;
  padding: 3px 16px;
  font-size: 25px;
  font-family: showcard gothic;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.homeLink {
  font-size:20px;
  font-family:'Courier New', Courier, monospace;
  text-align: center; 
  position:relative;
  top:0px;
  left:250px;
  height:20px;
  width:50px;
}
.setlink{
  font-size:20px;
  font-family:'Courier New', Courier, monospace;
  text-align: center; 
  position:relative;
  top:0px;
  right:20px;
  height:20px;
  width:50px;
}
.randlink{
  font-size:20px;
  font-family:'Courier New', Courier, monospace;
  text-align: center; 
  position:relative;
  top:00px;
  right:00px;
}
.dashlink{
  font-size:20px;
  font-family:'Courier New', Courier, monospace;
  text-align: center; 
  position:relative;
  top:0px;
  right:40px;
  height:20px;
  width:50px;
}