.signUp-body {
  /* font-family: "Roboto Condensed", cursive; */
  background: #333;
  padding: 20px;
  height: 1000px;
}
.form {
  position: relative;
  background-color: green;
  width: 500px;
  color: yellow;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 00px;
  border: 5px solid yellow;
  border-radius: 20px;
  text-align: left;
  padding-left: 20px;
}
.owl2 {
  position: absolute;
  margin-left: 570px;
  margin-top: 5px;
  width: 300px;
  height: 300px;
  background-image: url(./signup.png);
}
.DropDown {
  width: 200px;
  height: 200px;
  color: white;
}
.owl3 {
  position: absolute;
  margin-left: 570px;
  margin-top: 350px;
  width: 300px;
  height: 300px;
  background-image: url(./signin2.png);
}
.wise2 {
  position: absolute;
  margin-left: 570px;
  margin-top: 700px;
  width: 300px;
  height: 300px;
  background-image: url(./wise2.png);
}
.greeting {
  position: absolute;
  color: red;
  font-size: 20px;
  font-family: ravie;
  margin-left: 880px;
  margin-top: 100px;
}
.greeting2 {
  position: absolute;
  color: red;
  font-size: 20px;
  font-family: ravie;
  margin-left: 880px;
  margin-top: 126px;
}
.greeting3 {
  position: absolute;
  color: red;
  font-size: 20px;
  font-family: ravie;
  margin-left: 880px;
  margin-top: 426px;
}
.greeting4 {
  position: absolute;
  color: red;
  font-size: 20px;
  font-family: ravie;
  margin-left: 880px;
  margin-top: 726px;
}
.name2 {
  position: absolute;
  color: blue;
  font-size: 20px;
  font-family: ravie;
  margin-left: 740px;
  margin-top: 270px;
}
.name3 {
  position: absolute;
  color: blue;
  font-size: 20px;
  font-family: ravie;
  margin-left: 740px;
  margin-top: 626px;
}
.name4 {
  position: absolute;
  color: blue;
  font-size: 20px;
  font-family: ravie;
  margin-left: 740px;
  margin-top: 996px;
}

.topicItem {
  width: 75px;
  height: 40px;
}

.eduItem {
  width: 100px;
  height: 40px;
}
